{{ define "value" }}
  {{ range $key, $val := . }}
    <div class="key-container" id="{{ $key }}">
    <h3 class="key-title">{{ $key }}</h3>
    
    {{ if isMap $val }}
        {{ template "value" $val }}
    {{ else }}
      {{ $itemType := getType $val }}
      <div>
      {{  if eq $itemType "string" }}
        <input type="text" id="{{ $key }}" name="{{ $key }}" placeholder="{{ $val }}">
      {{ else if eq $itemType "bool" }}
        <input id="{{ $key }}" type="checkbox">
      {{ else if eq $itemType "int" }}
        <input type="number" step="any" id="{{ $key }}" name="{{ $key }}" placeholder="{{ $val }}">
      {{ else if eq $itemType "uint" }}
        <input type="number" min="0" id="{{ $key }}" name="{{ $key }}" placeholder="{{ $val }}">
      {{ else if eq $itemType "list" }}
        <input type="textarea" rows="4" id="{{ $key }}" name="{{ $key }}">
      {{ else }}
        {{ $itemType }}
      {{  end }}
      <label for="{{ $key }}">{{ $key }}</label>
      </div>
    {{ end }}
    </div>
  {{ end }}
{{ end }}
