- id: researchlab
  description: "Research Lab prosjektet"
  subjects:
    - fc:orgunit:systemavdelingen
- id: ninett-experimental
  description: "Experimental services"
  subjects:
    - fc:orgunit:systemavdelingen
    - fc:org:uninett.no:unit:AVD-U20
