{{ define "title" }}{{ .Package.Name }}{{ end }}
{{ define "content" }}
  <link rel="stylesheet" href="/static/css/codemirror.css"></script>
    <div>
      <h2 id="packageName">{{ .Package.Name }}</h2>
      <p id="packageVersion">{{ .Package.Version }}</p>
      <p>{{ .Package.Description }}</p>
    </div>
    <div>
      <h3> Values: </h3>
      <textarea id="value-source">{{ .Values }}</textarea>
      <p id="yaml-error"></p>
      <input type="submit" id="install-button" name="submit" value="Install">
      <p id="installStatus"></p>
      <p id="releaseName"></p>
      <pre><p id="installStatusDetails"></p></pre>
    </div>
{{ end }}
{{ define "scripts" }}
  <script src="/static/js/js-yaml.min.js"></script>
  <script src="/static/js/codemirror.js"></script>
  <script src="/static/js/yaml.js"></script>
  <script>
    'use strict';
    var myTextArea = document.getElementById("value-source");
    var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {lineNumbers: true, mode: "yaml"});
    function installPackage(event) {
      event.preventDefault();
      var packageVersion = document.getElementById("packageVersion").innerHTML;
      var packageName = document.getElementById("packageName").innerHTML;
      var yamlErrorStatus = document.getElementById("yaml-error");
      yamlErrorStatus.innerHTML = "";

      try {
        var yaml = jsyaml.load(myCodeMirror.getValue());
      } catch (e) {
        yamlErrorStatus.innerHTML = e;
        return;
      }
      var data = JSON.stringify(yaml); 

      var xhr = new XMLHttpRequest();
      var apiURL = "/api/v1/package/" + packageName + "/" + packageVersion + "/install";
      xhr.open('POST', apiURL);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) {
          var res = JSON.parse(xhr.responseText);
          var releaseName = document.getElementById('releaseName');
          var statusText = document.getElementById('installStatus');
          var statusTextDetails = document.getElementById('installStatusDetails');
          var details = res.info.status.resources;
          statusText.innerHTML = "The package was successfully installed!";
          statusTextDetails.innerHTML = details;
          releaseName.innerHTML = "Release name: " + res.name;
        } else {
          var statusText = document.getElementById('installStatus');
          statusText.innerHTML = "The package was not successfully installed!";
        }
      };
      xhr.send(data);
    }
    var button = document.getElementById("install-button");
    button.addEventListener("click", installPackage);

  </script>

{{ end }}
