{{ define "title" }}{{.NewestVersion.Chart.Name}}{{ end }}
{{ define "content" }}
    <div>
      <h2>{{ .NewestVersion.Chart.Name }}</h2>
      <p>{{ .NewestVersion.Chart.Description }}</p>
    </div>
    <div>
      <h3> Values: </h3>
      <form id="installationForm">
        Version:<br>
         <select name="version">
           <option value="{{ .NewestVersion.Chart.Version }}">{{ .NewestVersion.Chart.Version }}</option>
           {{ range .OtherVersions }}
           <option value="{{ .Chart.Version }}">{{ .Chart.Version }}</option>
           {{ end }}
        </select> 
        </br>
        <input type="text" name="dataportenClientName"></br>
        <input type="text" name="dataportenHost"></br>
        <input type="submit" name="submit" value="Install">
        <p id="installStatus"></p>
        <p id="releaseName"></p>
        <pre><p id="installStatusDetails"></p></pre>
      </form> 
    </div>
{{ end }}
{{ define "scripts" }}
  <script>
    function installPackage(event) {
      event.preventDefault();
      var form = document.getElementById("installationForm");
      var versionsSelector = form.elements["version"];
      var version = versionsSelector.options[versionsSelector.selectedIndex].value
      var dpName = form.elements["dataportenClientName"].value;
      var xhr = new XMLHttpRequest();
      var data = JSON.stringify({
        "version": version,
        "dataporten_settings": {"name": dpName}
      }); 
      xhr.open('POST', "/api/v1/packages/install/" + packageName);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) {
          var res = JSON.parse(xhr.responseText);
          var releaseName = document.getElementById('releaseName');
          var statusText = document.getElementById('installStatus');
          var statusTextDetails = document.getElementById('installStatusDetails');
          var details = res.info.status.resources;
          statusText.innerHTML = "The package was successfully installed!";
          statusTextDetails.innerHTML = details;
          releaseName.innerHTML = "Release name: " + res.name;
        } else {
          var statusText = document.getElementById('installStatus');
          statusText.innerHTML = "The package was not successfully installed!";
        }
      };
      xhr.send(data);
    }

    var packageName = "{{ .NewestVersion.Chart.Name }}";
    var button = document.getElementById("installationForm").elements["submit"];
    button.addEventListener("click", installPackage);
  </script>

{{ end }}
