{{ define "title" }}{{ .Package.Name }}{{ end }}
{{ define "content" }}
    <div>
      <h2 id="packageName">{{ .Package.Name }}</h2>
      <p id="packageVersion">{{ .Package.Version }}</p>
      <p>{{ .Package.Description }}</p>
    </div>
    <div>
      <h3> Values: </h3>
      <form id="installationForm">
        <input type="text" name="dataportenClientName"></br>
        <input type="text" name="dataportenHost"></br>
        <input type="submit" id="installButton" name="submit" value="Install">
        <p id="installStatus"></p>
        <p id="releaseName"></p>
        <pre><p id="installStatusDetails"></p></pre>
      </form> 
    </div>
{{ end }}
{{ define "scripts" }}
  <script>
    function installPackage(event) {
      event.preventDefault();
      var packageVersion = document.getElementById("packageVersion").innerHTML;
      var packageName = document.getElementById("packageName").innerHTML;

      var form = document.getElementById("installationForm");
      var dpName = form.elements["dataportenClientName"].value;

      var xhr = new XMLHttpRequest();
      var data = JSON.stringify({
        "dataporten_settings": {"name": dpName}
      }); 
      var apiURL = "/api/v1/package/" + packageName + "/" + packageVersion + "/install";
      xhr.open('POST', apiURL);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) {
          var res = JSON.parse(xhr.responseText);
          var releaseName = document.getElementById('releaseName');
          var statusText = document.getElementById('installStatus');
          var statusTextDetails = document.getElementById('installStatusDetails');
          var details = res.info.status.resources;
          statusText.innerHTML = "The package was successfully installed!";
          statusTextDetails.innerHTML = details;
          releaseName.innerHTML = "Release name: " + res.name;
        } else {
          var statusText = document.getElementById('installStatus');
          statusText.innerHTML = "The package was not successfully installed!";
        }
      };
      xhr.send(data);
    }

    var button = document.getElementById("installationForm").elements["submit"];
    button.addEventListener("click", installPackage);
  </script>

{{ end }}
