<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Appstore</title>
</head>

<body>
  <div>
    <h2>{{ .Package.Chart.Name }}</h2>
    <p>{{ .Package.Chart.Description }}</p>
  </div>
  <div>
    <h3> Values: </h3>
		<form id="installationForm">
			Version:<br>
			<input type="text" name="version"><br>
      <input type="submit" name="submit" value="Install">
      <p id="installStatus"></p>
		</form> 
  </div>
</body>
<script>

function installPackage(event) {
  event.preventDefault();
  var form = document.getElementById("installationForm");
  var version = form.elements["version"].innterHTML;
  var xhr = new XMLHttpRequest();
  var data = JSON.stringify({
      "Version": version,
  }); 
  xhr.open('POST', "/api/v1/packages/install/" + packageName);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onload = function() {
      if (xhr.status === 200) {
          var res = JSON.parse(xhr.responseText);
          var statusText = document.getElementById('installStatus');
          statusText.innerHTML = "The package was successfully installed!";
      } else {
          statusText.innerHTML = "The package was not successfully installed!";
      }
  };
  xhr.send(data);
}

var packageName = "{{ .Package.Chart.Name }}";
var button = document.getElementById("installationForm").elements["submit"];
button.addEventListener("click", installPackage);
</script>
</html>
